/* From uiverse.io by @satyamchaudharydev */
.form {
  --width-of-input: 200px;
  --border-height: 1px;
  --border-before-color: rgb(220, 197, 236);
  --border-after-color: hsl(327, 100%, 50%);
  --input-hovered-color: #16161684;
  position: relative;
  width: var(--width-of-input);
}
/* styling of Input */
.input {
  color: #fff;
  color: rgb(220, 197, 236);
  font-size: 1.3rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  text-transform: uppercase;
}
/* styling of animated border */
.inputBorder {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
/* Hover on Input */
.input:hover {
  background: var(--input-hovered-color);
}

.input:focus {
  outline: none;
}
/* here is code of animated border */
.input:focus ~ .inputBorder {
  width: 100%;
}

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
}

.h1 {
  color: #2abfbf;
  font-size: 2.8em;
  letter-spacing: 0.8px;
  font-weight: 400;
  color: hsl(327, 100%, 50%);
  text-transform: uppercase;
}
.iconBtn {
  display: none;
}

@media (max-width: 798px) {
  .h1 {
    font-size: 2.2em;
  }
  .form {
    --width-of-input: 180px;
    display: none;
  }
  /* BUTTON */

  .iconBtn {
    display: unset;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
  }
}
